*.iml
/codigo/.gradle
/codigo/local.properties
/codigo/.idea/caches
/codigo/.idea/libraries
/codigo/.idea/modules.xml
/codigo/.idea/workspace.xml
/codigo/.idea/navEditor.xml
/codigo/.idea/assetWizardSettings.xml
.DS_Store
/codigo/build/
/codigo/captures
/codigo/.externalNativeBuild
/codigo/.cxx
/codigo/local.properties
